@import '../../shared/styles/shared-styles.css';

.card-list{
    display: grid;
    padding-top: 48px;
    gap: 14px;
}

.card {
    display: flex;
    min-width: 300px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
}

.card-button {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 61px;
}

button {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    border: 1 solid #2C2C2C;
    background: #2C2C2C;
    color: #F5F5F5;

    /* Single Line/Body Base */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
}

button:hover {
  background-color: #888888;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 0 0;
}

.card:hover {
    border: 1px solid #FF0000;
}

.title {
    display: flex;
    width: 90%;
    align-items: flex-start;
    flex: 1 0 0;
    color: #1E1E1E;

    padding-bottom: 24px;
    /* Heading */
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.48px;
}

.description {
    align-self: stretch;
    color: #757575;

    /* Body Strong */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.status {
    align-self: stretch;
    color: #B3B3B3;
    padding-top: 2px;

    /* Body Strong */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.status-open {
    color: #FF0000;
}