<div class="menu">
  <app-menu-header></app-menu-header>

  <app-menu-separator></app-menu-separator>

  <app-menu-welcome></app-menu-welcome>

  <div class="menu-section">
    <app-menu-item [title]="'Novo item de pauta'" [route]="'/nova-pauta'" (clicked)="onMenuItemClick($event)"></app-menu-item>
    <app-menu-item [title]="'Nova reunião'" [route]="'/new-meeting'" (clicked)="onMenuItemClick($event)"></app-menu-item>
    <app-menu-item [title]="'Reuniões'" [route]="'/menu'" (clicked)="onMenuItemClick($event)"></app-menu-item>
    <app-menu-item [title]="'Sair'" [route]="'/'" (clicked)="onMenuItemClick($event)"></app-menu-item>
  </div>

  <app-menu-separator></app-menu-separator>

  <div class="logo-inf">
    <img src="../../../assets/logo_inf_branco.jpg" 
    alt="INF"
    style="width:168px;height:95px;"
    >
</div>
