.label{
    align-self: stretch;
    color: #1E1E1E;

    /* Body Base */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400px;
    line-height: 140%; /* 22.4px */
    display: block;
    margin-bottom: 8px;
}

.full-width-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 90%;
    padding-bottom: 16px;
    padding-top: 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.full-width-form textarea {
    max-width:100%;
    min-width:100%;
    min-height: 180px;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.full-width-form textarea:focus {
  border-color: #FF0000;
  box-shadow: 0 0 0 2px rgba(30, 30, 30, 0.1);
  outline: none;
}

textarea {
    color: #000000;

    /* Single Line/Body Base */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
}

textarea::placeholder {
    color: #B3B3B3;
}