.label{
    align-self: stretch;
    color: #1E1E1E;

    /* Body Base */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400px;
    line-height: 140%; /* 22.4px */
    display: block;
    margin-bottom: 8px;
}

.full-width-form {
    flex: 1;
    width: 100%;
    padding-bottom: 16px;
    padding-top: 16px;
    box-sizing: border-box;
}

.full-width-form input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    min-width: 0;
    background: #FFFFFF;
    display: flex;
}

.full-width-form input {
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.full-width-form input:focus {
  border-color: #FF0000;
  box-shadow: 0 0 0 2px rgba(30, 30, 30, 0.1);
  outline: none;
}

input {
    color: #000000;

    /* Single Line/Body Base */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
}

input::placeholder {
    color: #B3B3B3;
}