.label{
    align-self: stretch;
    color: #1E1E1E;

    /* Body Base */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400px;
    line-height: 140%; /* 22.4px */
    display: block;
    margin-bottom: 8px;
}

.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 16px;
}

.form{
    display: flex;
    height: 40px;
    min-width: 240px;
    padding: 12px 12px 12px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    display: flex;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
    flex: 1 0 0;
}

input {
    color: #000000;

    /* Single Line/Body Base */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
}

input:focus {
  border-color: #FF0000;
  box-shadow: 0 0 0 2px rgba(30, 30, 30, 0.1);
  outline: none;
}

input::placeholder {
    color: #B3B3B3;
}