label{
    color: #1E1E1E;
    font-family: 'Inter', sans-serif;
    font-size: 16;
    font-style: bold;
    font-weight: 700;
    line-height: 140%; /* 16px */
}

.sublabel{
    flex: 1 0 0;    
    color: #757575;

    /* Body Base */
    font-family: 'Inter', sans-serif;
    font-size: 16;
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}