@import '../../shared/styles/shared-styles.css';

/* Reset básico */
body {
  font-family: Arial, sans-serif;
}

.home-container h1 {
  margin-bottom: 1px;
  color: #000000;
}

.home-container {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.vote-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 12px;
  font-family: Arial, sans-serif;
  padding: 10px;
}

/* Estilo do header */
.header {
  display: flex;              /* Coloca texto e imagem lado a lado */
  justify-content: space-between; /* Espaço entre texto e imagem */
  align-items: center;        /* Alinha verticalmente no centro */
  padding: 20px 40px;
}

/* Área de texto à esquerda */
.header-texto {
  max-width: 60%;             /* Limita a largura para não colar na imagem */
}

/* Área da imagem à direita */
.header-imagem img {
  width: 150px;               /* Ajuste conforme o tamanho desejado */
  height: auto;
}
