<div>
    <div>
        <h1>Reunião</h1>
    </div>

    <div>
        <button (click)="loadAgenda()">Abrir pauta</button>
    </div>

    <div *ngIf="loaded">
        <h2>Pauta</h2>
        <form>
            <div *ngFor="let item of agenda">
                <div>{{item.title}}</div>
                <label>
                    <input type="radio" [(ngModel)]="item.vote" name="item-{{item.id}}" [value]="'yes'"> Sim
                </label>
                <label>
                    <input type="radio" [(ngModel)]="item.vote" name="item-{{item.id}}" [value]="'no'"> Não
                </label>
                <label>
                    <input type="radio" [(ngModel)]="item.vote" name="item-{{item.id}}" [value]="'abstain'"> Abstenção
                </label>
            </div>
        </form>

        <button (click)="submitVotes()">Enviar votos</button>
    </div>
</div>