<div class="home-container">

    <app-menu></app-menu>
    
    <div class="app-content">
        <app-card 
            [title]="'Reunião de colegiado'"
            [subtitle]="'10/10/2025'">
            <app-accordion-item
                *ngFor="let item of agenda; let i = index"
                [title]="item.title"
                [itemText]="item.description"
                [radioName]="'item-' + item.id"
                [(selectedVote)]="item.vote"
                [isDisabled]="voteDisabled">
            </app-accordion-item>

            <div *ngIf="votedItems.length > 0">
            <h3>Itens votados:</h3>
            <ul>
                <li *ngFor="let item of votedItems">{{ item.title }}: {{ item.vote }}</li>
            </ul>
            </div>

            <div class="button-group">
                <button class="button"
                    (click)="submitVotes()"
                    [disabled]="!allVoted || voteDisabled">
                    Submeter votos
                </button>
            </div>
        </app-card>
    </div>

</div>


