<div class="menu-section_47-677">
  <div class="menu-item_47-825">
    <div class="body_47-827">
      <div class="row_47-828">
        <span class="text-label_47-829">Página inicial</span>
      </div>
    </div>
  </div>
  <div class="menu-item_47-869">
    <div class="body_47-871">
      <div class="row_47-872">
        <span class="text-label_47-873">Cadastros</span>
      </div>
    </div>
  </div>
  <div class="menu-item_47-833">
    <div class="body_47-835">
      <div class="row_47-836">
        <span class="text-label_47-837">Criar reunião</span>
      </div>
    </div>
  </div>
  <div class="menu-item_47-842">
    <div class="body_47-844">
      <div class="row_47-845">
        <span class="text-label_47-846">Criar pautas</span>
      </div>
    </div>
  </div>
  <div class="menu-item_47-851">
    <div class="body_47-853">
      <div class="row_47-854">
        <span class="text-label_47-855">Reuniões</span>
      </div>
    </div>
  </div>
  <div class="menu-item_47-860">
    <div class="body_47-862">
      <div class="row_47-863">
        <span class="text-label_47-864">Pautas</span>
      </div>
    </div>
  </div>
  <app-menu-item
    class="menu-item_47-679"
  >
  </app-menu-item>
</div>
