.menu-separator_47-753 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.rule_I47-753-9762-732 {
  display: flex;
}
